*swp
.pls_cache
local/
config/nvim/spell
config/vim/autoload/plug.vim
config/vim/plugged
config/zsh/02-env-perl.sh
config/zsh/15-z.sh
config/zsh/20-theme-powerlevel10k.sh
config/zsh/25-zsh-syntax-highlighting.zsh
config/zsh/30-wezterm.sh
config/zsh/completion/wezterm.zsh-completion
config/zsh/jhthorsen.sh
config/zsh/powerlevel10k/
config/zsh/zsh_history
config/wezterm/private_*.lua
