*swp
.pls_cache
apps/*/target/
bin/eza
bin/fzf
bin/ps
bin/starship
bin/tar
local/
config/nvim/lua/.luarc.json
config/nvim/spell
config/nvim/plugin/
config/vim/autoload/plug.vim
config/vim/plugged
config/zsh/02-env-perl.sh
config/zsh/02-fzf-key-bindings.zsh
config/zsh/15-z.sh
config/zsh/20-theme-powerlevel10k.sh
config/zsh/25-zsh-syntax-highlighting.zsh
config/zsh/30-wezterm.sh
config/zsh/completion/_*
config/zsh/completion/*.zsh-completion
config/zsh/jhthorsen.sh
config/zsh/powerlevel10k/
config/zsh/zsh_history
config/zsh/zsh-vi-mode/
config/wezterm/private_*.lua
share/nvim/site/pack/batpack/start/
.nvim-external-hook
