[submodule "share/nvim/site/pack/batpack/start/mojo.vim"]
	path = share/nvim/site/pack/batpack/start/mojo.vim
	url = https://github.com/yko/mojo.vim
[submodule "share/nvim/site/pack/batpack/start/vim-css-color"]
	path = share/nvim/site/pack/batpack/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "share/nvim/site/pack/batpack/start/nvim-cmp"]
	path = share/nvim/site/pack/batpack/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "share/nvim/site/pack/batpack/start/cmp-buffer"]
	path = share/nvim/site/pack/batpack/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "share/nvim/site/pack/batpack/start/cmp-nvim-lsp"]
	path = share/nvim/site/pack/batpack/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "share/nvim/site/pack/batpack/start/cmp-path"]
	path = share/nvim/site/pack/batpack/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "share/nvim/site/pack/batpack/start/LuaSnip"]
	path = share/nvim/site/pack/batpack/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "share/nvim/site/pack/batpack/start/nvim-web-devicons"]
	path = share/nvim/site/pack/batpack/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "share/nvim/site/pack/batpack/start/vim-perl"]
	path = share/nvim/site/pack/batpack/start/vim-perl
	url = https://github.com/lucas1/vim-perl
[submodule "share/nvim/site/pack/batpack/start/emmet-vim"]
	path = share/nvim/site/pack/batpack/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "share/nvim/site/pack/batpack/start/vim-visual-multi"]
	path = share/nvim/site/pack/batpack/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "share/nvim/site/pack/batpack/start/nvim-lspconfig"]
	path = share/nvim/site/pack/batpack/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "share/nvim/site/pack/batpack/start/Comment.nvim"]
	path = share/nvim/site/pack/batpack/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
[submodule "share/nvim/site/pack/batpack/start/color-converter.nvim"]
	path = share/nvim/site/pack/batpack/start/color-converter.nvim
	url = https://github.com/NTBBloodbath/color-converter.nvim
[submodule "share/nvim/site/pack/batpack/start/lualine.nvim"]
	path = share/nvim/site/pack/batpack/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "share/nvim/site/pack/batpack/start/telescope.nvim"]
	path = share/nvim/site/pack/batpack/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "share/nvim/site/pack/batpack/start/nvim-treesitter"]
	path = share/nvim/site/pack/batpack/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "share/nvim/site/pack/batpack/start/vim-spell-under"]
	path = share/nvim/site/pack/batpack/start/vim-spell-under
	url = https://github.com/osamuaoki/vim-spell-under
[submodule "share/nvim/site/pack/batpack/start/vim-code-dark"]
	path = share/nvim/site/pack/batpack/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "share/nvim/site/pack/batpack/start/plenary.nvim"]
	path = share/nvim/site/pack/batpack/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "share/nvim/site/pack/batpack/start/tokyonight.nvim"]
	path = share/nvim/site/pack/batpack/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "share/nvim/site/pack/batpack/start/nvim-colorizer.lua"]
	path = share/nvim/site/pack/batpack/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "share/nvim/site/pack/batpack/start/kanagawa.nvim"]
	path = share/nvim/site/pack/batpack/start/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "share/nvim/site/pack/batpack/start/legendary.nvim"]
	path = share/nvim/site/pack/batpack/start/legendary.nvim
	url = https://github.com/mrjones2014/legendary.nvim
[submodule "share/nvim/site/pack/batpack/start/venn.nvim"]
	path = share/nvim/site/pack/batpack/start/venn.nvim
	url = https://github.com/jbyuki/venn.nvim
[submodule "share/nvim/site/pack/batpack/start/vim-nftables.git"]
	path = share/nvim/site/pack/batpack/start/vim-nftables.git
	url = https://github.com/nfnty/vim-nftables.git
[submodule "share/nvim/site/pack/batpack/start/undotree.git"]
	path = share/nvim/site/pack/batpack/start/undotree.git
	url = https://github.com/jiaoshijie/undotree.git
[submodule "share/nvim/site/pack/batpack/start/vim-doge"]
	path = share/nvim/site/pack/batpack/start/vim-doge
	url = https://github.com/kkoomen/vim-doge
[submodule "share/nvim/site/pack/batpack/start/lsp_signature.nvim"]
	path = share/nvim/site/pack/batpack/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
