[alias]
  b = branch
  d = diff HEAD^

  ca = commit --amend -C HEAD
  cl = ship clean
  cp = !/bin/bash -c 'git show "$0":"$1" > "$1"'
  dc = diff --cached
  dd = !/bin/bash -c 'git diff --color -C $(echo $0 | grep -q "/bin/" && echo "HEAD^" || echo "$0") -w | diff-so-fancy --color | less -RX -x2 -F'
  gl = log --graph --pretty='format:%C(yellow)%h%Cred%d%Creset %s %C(white) %C(cyan)%an%Creset, %C(green)%ar%Creset'
  rh = !git reset HEAD^ && git reset --hard
  sh = !git show $(git log --color --pretty=format:'%Cred%h%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset' | fzf --reverse --ansi --preview='git show {1} | head -n100' | cut -d' ' -f1)

  lgg = !git lg --graph
  lgh = log -n5 --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset'

  build = ship build
  hist = log --graph --all --color=always --decorate --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset'
  ready = rebase -i @{u}
  rm-untracked = !"git status|grep '^\t'| awk '{print $1}'|xargs rm -r"
  snapshot = !/bin/bash -c 'git branch _/$(date +%Y%m%d-%H%M%S)'
  standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author Jan
  start = ship start
  test-coverage = ship test-coverage

[branch]
  autosetuprebase = always

[color]
  branch = auto
  diff = auto
  status = auto

[core]
  excludesfile = ~/.gitignore_global

[diff]
  tool = vimdiff

[diff-so-fancy]
  markEmptyLines = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f

[merge]
  tool = vimdiff

[pull]
  rebase = true

[user]
  name = Jan Henning Thorsen
  email = jhthorsen@cpan.org
