/* Down here I'm just reassigning variables based on the colors set above.
 * Feel free to play around with these but there is no editing necessary below this line. c:
 */
:root {
  --toolbar-color: rgb(221, 221, 221);
  --toolbar-bgcolor: rgb(43, 42, 51);
  --urlbar-box-bgcolor: var(--toolbar-bgcolor) !important;
  --uc-urlbar-min-width: 440px;
  --uc-search-result-bgcolor: var(--urlbar-box-bgcolor);
  --uc-search-result-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.8);
  --uc-search-result-min-width: 70ch;
  --uc-search-result-left: -6px;
  --uc-search-result-right: auto;
  --uc-search-result-padding-block: 6px;
  --uc-search-result-padding-inline: 12px;
  --uc-search-result-row-hover-bgcolor: rgb(23, 22, 31);
  --uc-search-result-row-selected-bgcolor: rgb(13, 12, 21);
  --focus-outline: var(--toolbar-color) !important;
  --tabs-toolbar-padding-inline: 0 3px;
  --nav-bar-padding-inline: 0;

  --uc-toolbar-position: 2;
  --uc-urlbar-position: 1;

  /* Allow tabs to have dynamic widths based on the Tab Bars maximum width */
  --uc-active-tab-width: clamp(150px, 30vw, 300px);
  --uc-inactive-tab-width: clamp(75px, 20vw, 200px);

  /* Enable this to always show the Tab Close button
   * possible values:
   * show: -moz-inline-block
   * hide: none
   */
  --show-tab-close-button: none;

  /* Enable this to only show the Tab Close button on tab hover
   * possible values:
   * show: -moz-inline-block
   * hide: none
   */
  --show-tab-close-button-hover: -moz-inline-block;

  /* Hide the all Tabs button from the Tab Bar
   * possible values:
   * show: -moz-box
   * hide: none
   */
  --uc-show-all-tabs-button: none;
  --uc-show-new-tab-button: none;

  /* Left and Right "dip" of the container indicator
   * 0px equals tab width
   * higer values make the indicator smaller
   */
  --container-tabs-indicator-margin: 10px;

  /* Amount of Glow to add to the container indicator
   * Setting it to 0 disables the Glow
   */
  --uc-identity-glow: 0 1px 10px 1px;
}
