/* Disable the Navigation Buttons */
#back-button,
#forward-button {
  display: none !important;
}

/* Hide everything BUT the zoom indicator within the URL Bar */
#page-action-buttons > :not(#urlbar-zoom-button) {
  display: none !important;
}

#PersonalToolbar {
  display: none !important;
}

/* Hide the »Go«-arrow in the URL Bar */
#urlbar-go-button {
  display: none !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  width: 1px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
  padding: 0 !important;
}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
}

/* Hide the secondary Tab Label
 * e.g. playing indicator (the text, not the icon) */
.tab-secondary-label {
  display: none !important;
}

.private-browsing-indicator-with-label {
  display: none !important;
}

/* remove "padding" left and right from tabs */
.titlebar-spacer {
  display: none !important;
}

/* remove window control buttons */
.titlebar-buttonbox-container {
  display: none !important;
}

#pageActionButton {
  display: none !important;
}

#PanelUI-menu-button {
  padding: 0 !important;
}

@media (min-width: 768px) {
  #nav-bar {
    order: var(--uc-urlbar-position);
    width: var(--uc-urlbar-min-width);
    flex: 0 1 var(--uc-urlbar-min-width);
  }

  #navigator-toolbox {
    display: flex;
    flex-wrap: nowrap;
  }

  #titlebar {
    order: var(--uc-toolbar-position);
    flex: 1 0 auto;
  }
}
