#back-button { display: none !important; } /* back button */
#forward-button { display: none !important; } /* forward button */
#new-tab-button { display: none !important; } /* new tab */
#reader-mode-button { display: none !important; } /* reader button inside urlbar */
#star-button-box { display: none !important; } /* bookmark button inside urlbar */
#scrollbutton-down { display: none !important; } /* scroll tabs right */
#scrollbutton-up { display: none !important; } /* scroll tabs left */
#TabsToolbar .toolbarbutton-1 { display: none !important; } /* arrow down show all tabs */
#TabsToolbar-customization-target { background-color: var(--toolbar-bgcolor); } /* tabs */
#urlbar-background { --toolbar-field-background-color: var(--toolbar-bgcolor); } /* urlbar */
.titlebar-spacer { display: none !important; } /* misc spacer */
.titlebar-buttonbox { display: none !important; } /* close, min, fullscreen */

/***************************************
  - #navigator-toolbox
    - #titlebar
      - #toolbar-menubar
      - #TabsToolbar
    - #nav-bar
      - #nav-bar-customization-target
        - #back-button
        - #forward-button
        - #urlbar-container
          - #urlbar
            - #urlbar-background
            - #urlbar-input-container
            - .urlbarView
        - #unified-extensions-button
    - #PersonalToolbar
***************************************/

:root {
  --userchrome-navbar-width: max(25vw, 400px);
}

/*
 * Placing tabs on the right side of #nav-bar using absolute instead of
 * flexbox, to make it easier for the urlbar to hide the tabs, with a
 * higher z-index.
 */
#titlebar {
  position: absolute;
  left: var(--userchrome-navbar-width);
  width: calc(100vw - var(--userchrome-navbar-width));
  max-width: calc(100vw - var(--userchrome-navbar-width));
  min-width: calc(100vw - var(--userchrome-navbar-width));
  z-index: 1;
}

/*
 * #nav-bar should take up (100-75)vw, but also allow #urlbar-container to
 * overflow.
 */
#nav-bar:not([urlbar-exceeds-toolbar-bounds]),
toolbar[overflowable][customizing] > .customization-target {
  min-width: var(--userchrome-navbar-width) !important;
  max-width: var(--userchrome-navbar-width) !important;
  overflow: visible !important;
}

/*
 * This selector makes the urlbar 310px (or something) by default. Need to
 * override that.
 */
#nav-bar:is([downloadsbuttonshown],
[unifiedextensionsbuttonshown]) #urlbar-container {
  width: auto !important;
}

/*
 * Only show these controls when the urlbar dropdown is visible.
 */
#tracking-protection-icon-container { display: none !important; }
#identity-box { display: none !important; }
#urlbar-search-button { display: none !important; }
#urlbar[breakout-extend="true"] #tracking-protection-icon-container { display: flex !important; }
#urlbar[breakout-extend="true"] #identity-box { display: flex !important; }
#urlbar[breakout-extend="true"] #urlbar-search-button { display: flex !important; }
