body, input, select, textarea {
    font-size: 10pt;
    font-weight: normal;
    font-family: arial, sans-serif;
    color: #000;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

a {
    color: #456;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 1em 0;
    padding: 0;
}

h1 a, h2 a, h3 a {
    color: #000;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

form, p {
    margin: 0.5em 0em;
    padding: 0;
}

form label {
    float: left;
    display: block;
    width: 10em;
    padding-right: 1em;
    text-align: right;
}

@media print {
}
